@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #0B1D26;
	font-family: 'Poppins', serif;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
ul {
	list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
	font-family: 'Playfair Display', sans-serif;
}
img {
	max-width:100%;
	max-height: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 80px 0;
	width: 100%;
	position: absolute;
	z-index: 9999;
}
.logo {
	font-size: 32px;
	line-height: 38px;
}
header nav ul {
	display: flex;
}
header nav ul li:not(:last-child) {
	margin-right: 40px;
}
header nav ul li a {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}
.header__auth a{
	display: flex;
	align-items: center;
}
.header__auth a span {
	margin-left: 5px;
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
}
.img_back {
	width: 100%;
}
.img_back img {
	position: absolute;
	width: 100%;
	z-index: -1;
}
.HG {
	top: -20%;
}
.MG {
	top: 15%;
}
.VG {
	top: 45%;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.main__social_media,
.main__vertical_navigation {
	position: fixed;
}
.main__social_media {
	top: 50%;
	left: 2%;
	transform: translate(-2%, -50%);
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.main__social_media .follow {
	writing-mode: tb-rl;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #FFFFFF;
}
.main__vertical_navigation {
	top: 50%;
	right: 2%;
	transform: translate(-2%, -50%);
	text-align: right;
	z-index: 1;
}
.main__vertical_navigation nav ul li a {
	display: block;
	line-height: 52px;
	position: relative;
	padding-right: 32px;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}
.main__vertical_navigation nav ul li a:hover{
 	opacity: 1;
	transition: all 0.3s ease-in-out;
 }
.main__vertical_navigation nav ul li a::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #FFFFFF;
	width: 3px;
}
.main__wrap_title_info {
	position: relative;
	width: 100%;
	height: 700px;
}
.main__title_info {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
}
.main__under_title {
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #FBD784;
	padding-left: 100px;
	position: relative;
}
.main__under_title::before {
	content: "";
	display: block;
	position: absolute;
	width: 72px;
	height: 2px;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	background-color: #FBD784;
}
h1 {
	font-size: 54px;
	font-weight: 600;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 32px 0;
}
.main__scroll_down {
	display: flex;
	align-items: center;
}
.main__scroll_down span {
	margin-right: 10px;
}
section {
	margin-bottom: 200px;
}
#first_section {
	position: relative;
}
#first_section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	transform: translate(0px, -35%);
	background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
	z-index: -1;
}
.section__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.text_section {
	position: relative;
	height: 100%;
}
.right_side {
	order: 2;
	margin-left: 50px;
}
.section__number_of_section {
	color: rgba(255, 255, 255, 0.1);
	font-size: 240px;
	font-weight: 700;
	line-height: 240px;
	position: absolute;
	top: 0;
	left: 0;
}
.info_block {
	margin: 130px 0 130px 90px;
}
.info_block h2 {
	font-size: 64px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 77px;
	margin: 27px 0;
}
.info_block_p {
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 32px;
	margin-bottom: 27px;
}
.info_block a {
	display: flex;
	align-items: center;
	color: #FBD784;
	font-size: 18px;
	line-height: 22px;
}
.info_block a span {
	padding-right: 20px;
}
.section_img {
	height: 800px;
    width: 300px;
    object-fit: none;
}
footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}
.footer__about_company {
	width: 350px;
}
.footer__about {
	font-weight: 600;
	line-height: 32px;
	color: #FFFFFF;
	margin: 25px 0 122px 0;
}
.footer__copyright {
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
	color: #FFFFFF;
	opacity: 0.5;
}
.footer__navigatino nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
}
.footer__nav_order {
	grid-column-start: 1;
}
.footer__navigation_title {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #FBD784;
}