@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #0B1D26;
	font-family: 'Poppins', serif;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
ul {
	list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
	font-family: 'Playfair Display', sans-serif;
}
img {
	max-width:100%;
	max-height: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 80px 0;
	width: 100%;
	position: absolute;
	z-index: 9999;
}
.logo {
	font-size: 32px;
	line-height: 38px;
}
header nav ul {
	display: flex;
}
header nav ul li:not(:last-child) {
	margin-right: 40px;
}
header nav ul li a {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}
.header__auth a{
	display: flex;
	align-items: center;
}
.header__auth a span {
	margin-left: 5px;
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
}
.img_back {
	width: 100%;
}
.img_back img {
	position: absolute;
	width: 100%;
	z-index: -1;
}
.HG {
	top: -20%;
}
.MG {
	top: 15%;
}
.VG {
	top: 45%;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
.main__social_media,
.main__vertical_navigation {
	position: fixed;
}
.main__social_media {
	top: 50%;
	left: 2%;
	transform: translate(-2%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}
.main__social_media .follow {
	writing-mode: tb-rl;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #FFFFFF;
}
.main__vertical_navigation nav ul li .active {
	opacity: 1;
	transition: all 0.3s ease;
}
.main__vertical_navigation {
	top: 50%;
	right: 2%;
	transform: translate(-2%, -50%);
	text-align: right;
	z-index: 1;
}
.main__vertical_navigation nav ul li a {
	display: block;
	line-height: 52px;
	position: relative;
	padding-right: 32px;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}
.main__vertical_navigation nav ul li a:hover{
 	opacity: 1;
	transition: all 0.3s ease-in-out;
 }
.main__vertical_navigation nav ul li a::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #FFFFFF;
	width: 3px;
}
.main__wrap_title_info {
	position: relative;
	width: 100%;
	height: 700px;
}
.main__title_info {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}
.main__under_title {
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #FBD784;
	padding-left: 100px;
	position: relative;
}
.main__under_title::before {
	content: "";
	display: block;
	position: absolute;
	width: 72px;
	height: 2px;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	background-color: #FBD784;
}
h1 {
	font-size: 54px;
	font-weight: 600;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 32px 0;
}
.main__scroll_down {
	display: flex;
	align-items: center;
}
.main__scroll_down span {
	margin-right: 10px;
}
section {
	margin-bottom: 200px;
}
#first_section {
	position: relative;
}
#first_section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	transform: translate(0px, -35%);
	background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
	z-index: -1;
}
.section__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.text_section {
	position: relative;
	height: 100%;
}
.right_side {
	order: 2;
	margin: 0 25px 0 50px;
}
.section__number_of_section {
	color: rgba(255, 255, 255, 0.1);
	font-size: 240px;
	font-weight: 700;
	line-height: 240px;
	position: absolute;
	top: 0;
	left: 0;
}
.info_block {
	margin: 130px 0 130px 90px;
}
.info_block h2 {
	font-size: 64px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 77px;
	margin: 27px 0;
}
.info_block_p {
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 32px;
	margin-bottom: 27px;
	text-align: justify;
}
.info_block a {
	display: flex;
	align-items: center;
	color: #FBD784;
	font-size: 18px;
	line-height: 22px;
}
.info_block a span {
	padding-right: 20px;
}
.section_img {
	height: 800px;
    width: 300px;
    object-fit: none;
}
footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}
.footer__about_company {
	width: 350px;
}
.footer__about {
	font-weight: 600;
	line-height: 32px;
	color: #FFFFFF;
	margin: 25px 0 122px 0;
}
.footer__copyright {
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
	color: #FFFFFF;
	opacity: 0.5;
}
.footer__navigatino nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
}
.footer__nav_order {
	grid-column-start: 1;
}
.footer__navigation_title {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #FBD784;
}
header nav ul li a:hover,
.header__auth a:hover svg path,
.header__auth a:hover,
.main__scroll_down:hover svg path,
.main__scroll_down:hover,
.footer__navigatino nav ul li a:hover,
.main__social_media a svg:hover path {
	transition: all 0.5s ease;
	opacity: 0.9;
	color: #FBD784;
	fill: #FBD784;
}
header nav ul li a,
.header__auth a svg path,
.header__auth a,
.main__scroll_down svg path,
.main__scroll_down,
.footer__navigatino nav ul li a,
.main__social_media a svg path {
	transition: all 0.5s ease;
}
.section__read_more:hover span,
.section__read_more:hover svg path {
	transition: all 0.5s ease;
	opacity: 0.9;
}
._anim-items {
	transition: all 1.5s ease;
	opacity: 0;
}
._anim_no_use {
	opacity: 1;
}
._active {
	transition: all 2s ease;
	opacity: 1;
}
.burger {
	display: none;
}
@media screen and (max-width: 1024px) {
	header nav ul li a,
	.header__auth a span,
	.main__social_media .follow,
	.main__vertical_navigation nav ul li a,
	.main__under_title,
	.main__scroll_down span,
	.footer__navigation_title {
	    font-size: 14px;
	}
	.main__vertical_navigation nav ul li a {
    	line-height: 32px;
	}
	h1 {
		font-size: 32px;
	}
	.main__title_info {
	    top: 45%;
	    transform: translate(-50%, -45%);
	}
	.main__wrap_title_info {
		height: 500px;
	}
	.main__under_title {
		padding-left: 40px;
	}
	.main__under_title::before {
    	width: 30px;
	}
	.main__scroll_down svg {
		width: 12px;
	}
	#first_section::before {
	    transform: translate(0px, -60%);
	}
	.info_block h2 {
	    font-size: 26px;
	    line-height: 38px;
	}
	.info_block_p,
	.footer__about {
	    font-size: 12px;
	    line-height: 22px;
	}
	.section__number_of_section {
	    font-size: 140px;
	    line-height: 130px;
	    top: 70px;
	    left: 30px;
	}
	.info_block a span {
	    font-size: 12px;
	    padding-right: 10px;
	}
	.info_block a svg {
		width: 16px;
	}
	.section_img {
	    height: 600px;
	    width: 280px;
	}
	.footer__about_company {
	    width: 300px;
	}
	.footer__about {
		margin: 25px 0 92px 0;
	}
	.footer__copyright {
	    font-size: 9px;
	}
	.footer__navigatino nav ul li a {
		font-size: 12px;
	}
	.footer__navigatino nav ul {
	    grid-gap: 15px;
	    grid-column-gap: 35px;
	}
	section {
	    margin-bottom: 120px;
	}
}
@media screen and (max-width: 768px) {
	.wrapper {
		width: 75%;
	}
	.section__wrapper {
		flex-direction: column;
	}
	.section_img {
	    height: 350px;
	    width: 80%;
	}
	.text_section {
	    height: 420px;
	}
	.left_side {
		order: 2;
	}
	.right_side {
		margin: 0;
	}
	footer {
		flex-direction: column;
	}
	.footer__about_company {
		order: 1;
		margin-top: 70px;
	}
	header nav ul li a {
	   font-size: 8px;
	}
	.header__auth a span,
	.main__social_media
	.follow,
	.main__vertical_navigation nav ul li a,
	.main__under_title,
	.main__scroll_down span,
	.footer__navigation_title {
		font-size: 10px;
	}
	svg {
		width: 16px;
		height: 14px;
	}
	h1 {
    font-size: 26px;
    margin: 15px 0;
	}
	.info_block h2 {
	    font-size: 18px;
	    line-height: 20px;
	}
	.info_block_p,
	.footer__about {
	    font-size: 8px;
	    line-height: 14px;
	}
	.info_block a span {
	    font-size: 11px;
	    padding-right: 6px;
	}
	.logo {
	    font-size: 24px;
	    line-height: 20px;
	}
	.burger {
		width: 25px;
	    height: 15px;
		position: relative;
		display: block;
	}
	.burger_line {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #FFFFFF;
		position: absolute;
		left: 0;
		transition: all 0.3s linear;
	}
	.bgl_1 {
		top: 0;
	}
	.bgl_2,
	.bgl_3 {
		top: 50%;
		transform: translateY(-50%);
	}
	.bgl_4 {
		bottom: 0;
	}
	.burger_active .bgl_1,
	.burger_active .bgl_4 {
		opacity: 0;
	}
	.burger_active .bgl_2 {
		transform: translateY(-50%) rotate(45deg);
	}
	.burger_active .bgl_3 {
		transform: translateY(-50%) rotate(-45deg);
	}
	header nav {
		position: absolute;
	    right: 30px;
    	top: 25px;
	    width: 25%;
	    opacity: 0;
	    transition: opacity 0.5s ease;
	}
	header nav ul {
		flex-direction: column;
	}
	.navigation_active {
		transition: opacity 0.5s ease;
		opacity: 2;
	}
	.footer__about_company {
	    width: 200px;
	}
	.main__wrap_title_info {
	    height: 350px;
	}
	header {
		padding: 30px 40px 0;
	}
}
@media screen and (max-width: 425px) {
	h1 {
	    font-size: 20px;
	    margin: 10px 0;
	}
	header nav ul li a,
	.header__auth a span,
	.main__social_media .follow,
	.main__vertical_navigation nav ul li a,
	.main__under_title,
	.main__scroll_down span,
	.footer__navigation_title {
	    font-size: 7px;
	}
	svg {
		width: 12px;
		height: 10px;
	}
	.burger {
	    width: 20px;
	    height: 10px;
	}
	.section__number_of_section {
	    font-size: 100px;
	    line-height: 125px;
	    top: 70px;
	    left: 5px;
	}
	.info_block {
	    margin: 130px 0 0 0;
	}
	.info_block a span {
	    font-size: 8px;
	    padding-right: 8px;
	}
	.info_block a svg {
		width: 8px;
	}
	.wrapper {
	    width: 70%;
	}
	.section_img {
	    height: 250px;
	    width: 75%;
	}
	.text_section {
	    height: 440px;
	}
	#first_section::before {
	    top: -40px;
	}
	.main__under_title {
	    line-height: 17px;
	    letter-spacing: 4px;
	}
}
@media screen and (max-width: 320px) {
	h1 {
	    font-size: 14px;
	}
	.wrapper {
	    width: 60%;
	}
}